<div class="vcl-calendar" role="application">
  <div class="vcl-calendar__header">
    <div class="vcl-calendar__nav">
      <button class="vcl-calendar__nav-btn vcl-calendar__nav-prev icon-itaufonts_seta" (keydown)="keyPress($event, 'vcl-calendar__nav-prev', 'vcl-calendar__close-btn')" (click)="prevMonth(!isEnabledPrevMonth(currentDateMoment))" [attr.aria-disabled]="!isEnabledPrevMonth(currentDateMoment)" aria-label="mês anterior"></button>
      <div class="vcl-calendar__nav-title" aria-live="polite">
        {{currentDateMoment.format('MMMM').toLowerCase()}}
        {{currentDateMoment.format('YYYY')}}
      </div>
      <button class="vcl-calendar__nav-btn icon-itaufonts_seta_right" (click)="nextMonth(!isEnabledNextMonth(currentDateMoment))" [attr.aria-disabled]="!isEnabledNextMonth(currentDateMoment)" aria-label="próximo mês"></button>
    </div>
    <div class="vcl-calendar__week">
      <div class="vcl-calendar__day" *ngFor="let name of namesOfDays">{{name}}</div>
    </div>
  </div>
  <div class="vcl-calendar__body">
    <div *ngFor="let week of weeks" class="vcl-calendar__days">
      <ng-container *ngFor="let day of week">
        <button class="vcl-calendar__date"
                (click)="selectDate(day)"
                [attr.aria-hidden]="!isSelectableDate(day.mDate)"
                [ngClass]="{'today': day.today, 'selected': day.selected, 'disabled': !isSelectableDate(day.mDate) || (disabledWeekend && day.isWeekend)}"
                [disabled]="!isSelectableDate(day.mDate) || (disabledWeekend && day.isWeekend)"
                [attr.arial-label]="getA11yLabel(day, day.selected)"
        >
          {{day.day}}
        </button>
      </ng-container>
    </div>
  </div>
  <div class="vcl-calendar__footer">
    <button (click)="closeCalendar()" class="vcl-calendar__close-btn" (keydown)="keyPress($event, 'vcl-calendar__close-btn', 'vcl-calendar__nav-prev')">fechar</button>

    <!-- botao falso para controle de foco -->
    <button aria-hidden="true" class="transparent"></button>
  </div>
</div>
