.vcl-calendar{
  background: #fff;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 16%), 0 2px 8px 0 rgb(0 0 0 / 18%);
  color: #231d19;
  width: 344px;
  padding: 35px 32px 0;


  .transparent{
    background: none;
    cursor: default;
    border: 0;
    padding: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .vcl-calendar{
    &__nav{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      &-btn{
        background: none;
        padding: 0;
        border: 0;
        text-align: center;
        line-height: normal;
        width: 16px;
        height: 24px;
        color: #231d19;

        &[aria-disabled=true]{
          color: #aaa;
          cursor: default;
        }
      }

      &-title{
        font-family: 'Itau Text';
        font-weight: 900;
        font-size: 16px;
        color: #231d19;
        line-height: 24px;
      }
    }

    &__week{
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      margin: 26px auto 16px;
    }

    &__day{
      width: 28px;
      font-family: "Itau Text";
      font-size: 14px;
      color: #605751;
      text-align: center;
      line-height: 20px;
      text-transform: lowercase;
    }

    &__days{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    &__date{
      width: 40px;
      height: 40px;
      font-family: "Itau Text";
      font-size: 16px;
      text-align: center;
      color: #231d19;
      background: #fff;
      border: 1px solid #fff;
      padding: 0;
      margin: 0;

      &:not(.disabled).selected, &:not(.disabled):hover{
        border-radius: 4px;
        border-color: #EC7000;
      }
      &.disabled{
        color: #969290;
        cursor: default;
      }
    }

    &__footer{
      display: flex;
      width: 100%;
    }
    &__close-btn{
      background: none;
      border: 0;
      border-bottom: 1px solid #fff;
      padding: 4px 0 0;
      margin: 10px 0 20px auto;
      font-size: 16px;
      font-family: "Itau Text";
      font-weight: 900;
      color: #106eb0;

      &:hover{
        border-bottom-color: #106eb0;
      }
    }
  }
}
